body{
    background-color: #73c8a9;
    font-family: 'Press Start 2P',cursive;
    background-image: linear-gradient(to right,#73c8a9,#373b44);
    
}

canvas{
    border: 5px solid #2e2e2e;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-image: url('imgs/sea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*we will make the end menu overlap the game canvas, so we need here a lower z-index*/
    z-index: 1;
    
}

.backdrop-blur{
    filter: blur(5px);
    /* filter:hue-rotate(180deg); */
}
#start-menu{
    display: block;
    margin: -120px auto;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 2;
    border: 2px solid;
}

#end-menu{
    /*we will toggle then the display of the end-menu*/
    display: none;
    margin: 50px auto;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 1;
    border: 2px solid;
}

#control{
    display: none;
}

i {
    display: none;
    position: fixed;
    width: fit-content;
    background-color: white;
    right: 100px;
    top: 0px;
    padding: 10px;
    text-align: center;
    /* background-color: wheat; */
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: absolute;
    left: 68%;
    transform: translate(-50%,50%);
    z-index: 1;
    cursor: pointer;
    
    /* border: 2px solid; */
}

#score-display ,#dash-display , #game-container h3{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

button{
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.25s ease;
}

button:hover{
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#pearlImg{
    width: 30px;
    height: 30px;
}